.videocard {
  margin-bottom: 15px;
  width: 260px;
}

.videocard:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.videocard_thumbnail {
  height: 8.25rem;
  width: 15.625rem;
  border: 2px solid black;
  background-color: black;
  border-radius: 5px;
}

.videocard_info {
  display: flex;
  padding-right: 30px;
  margin-top: 10px;
}

.videocard_text {
  margin-left: 10px;
}

.videocard_text > h4 {
  font-size:0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: auto;        /* fallback */
  max-height: 0.8rem*2;  
}

.videocard_text > p {
  font-size: 0.87rem;
  color: gray;
  margin:0;
}

.videocard_avatar {
  height: 30px !important;
  width: 30px !important;
}

