.suggestedRow {
  display: flex;
  /* flex-wrap: nowrap; */
  margin-bottom: 1.875rem;
  width: 100%;
}

.suggestedRow__img {
  flex:0.3;
}

.suggestedRow__img > img {
  height: 4.375rem;
  width: 100%;
  border: 2px solid black;
  background-color: black;
  border-radius: 5px;
  margin: auto;
  object-fit: contain;
}

.suggestedRow__text {
  flex:0.7;
  margin-left: 0.875rem;
  font-size: .75rem;
  color: #606060;
}

.suggestedRow__text > h3{
  overflow: hidden;
  color: black;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-height: auto ;        /* fallback */
  max-height: 1rem*1;  
  margin:0;
}

.suggestedRow__body {
  display: flex;
  font-size: 0.75rem;
  color: #606060 ;
  width: 100%;
  padding-top: 10px;
}
.suggestedRow__body__img {
  flex:0.2;
  padding:8px;
}


.suggestedRow__body__details {
  flex:0.8;
  padding:5px;
  width: 100%;
}
.suggestedRow__body__details > p{
  margin: 0;
}
.suggestedRow_link {
  text-decoration: none !important;
}