.suggestedpage {
  background-color: rgb(254, 255, 255);
  padding: 20px 20px;
  padding-bottom: 0;
  margin-left: 50px;
  
}


.suggestedpage > h2 {
  margin-left: 5px;
  margin-bottom: 20px;
}

.suggestedpageblock {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-decoration: none !important;
}
